.film {
    max-width: 1020px;
    height: calc(100%/2);

    @media (max-width: 577px) {
        width: 100%;
    }

    &-container {
        padding: 2rem 2rem 0 2rem;
        display: flex;
        flex-wrap: wrap;
        color: #009CF1;
        font-size: .5rem;
        align-items: center;

        @media (max-width: 577px) {
            flex-direction: column;
            font-size: .5rem;
        }

        h1 {
            font-size: 5rem;

            @media (max-width: 577px) {
                font-size: 2rem;
            }
        }

        h2 {
            font-size: 3rem;

            @media (max-width: 577px) {
                font-size: 1.5rem;
            }
        }


    }

    &-titles {
        align-items: center;
        margin-bottom: 1.5rem;


    }

    &-infos {
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;

        @media (max-width: 577px) {

            font-size: 1rem;
        }

        &-diretor {
            padding: 0rem .5rem 0 0rem;
        }

        &-producer {
            padding: 0rem .5rem 0 0rem;
        }

        &-time {
            padding: 0rem .5rem 0 0rem;
        }

    }

    &-aside-right {
        width: 50%;
        align-items: flex-end;
        @media (max-width: 577px) {

            width: 100%;
        }


        img {

            display: block;
            width: 100%;
            height: auto;

        }
    }

    &-aside-left {
        width: 50%;
        align-items: center;
        @media (max-width: 577px) {

            width: 100%;
        }
    }




    &-aside-middle {
        width: 100%;
        color: #009CF1;
        font-size: 1.5rem;
        margin-top: 1.5rem;

        @media (max-width: 577px) {
            font-size: 1rem;
        }
    }
}